@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


*{ 
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

  
html{ 
    scroll-behavior: smooth;
}
body{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
img{ 
    max-width: 100%;
}


.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 50px;
    background: red;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 33%;
    object-fit: cover;
  }
  input{ 
    width: 100%;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 5px;
    color: #444;
    border: 1px solid #ddd;
  }
  input:focus{ 
    outline: none;
    border: 1px solid purple;
  }